[flake8]
# E203 is ignored because we enforce ruff format which contradicts it
ignore = E203,E501,E704,E741,W503
per-file-ignores =
    conftest.py:E226
    getjson.py:E225
    index.py:E225
    list_remove.py:E226
    login.py:E226
    main.py:E128,E225,E226
    test*.py:E225,E226,E265
    upload.py:E225
    use.py:E225
    user.py:E225
