-e common
-e client
-e server
-e web
PdbEditorSupport
Sphinx
beautifulsoup4
certauth
execnet
flake8<5
mock
mypy[python2]==0.971
mypy-zope
pypitoken
pytest
pytest-asyncio
pytest-cov
pytest-flake8
pytest-icdiff
pytest-instafail
pytest-pdb
pytest-sugar
pytest-timeout
supervisor
towncrier>=21.9.0
tox
types-requests
types-urllib3
types-waitress
webtest
wheel
