dir {libredis}
daemonize no
dbfilename dump.rdb
port {port}
bind 127.0.0.1
timeout 0
loglevel notice
databases 1
save 900 1
save 300 10
save 60 10000
slave-serve-stale-data yes
appendonly yes
appendfsync everysec
no-appendfsync-on-rewrite no
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb
