form#search h1 {
    font-family: sans-serif;
    display: inline-block;
    margin: 0 1em 0 0;
    vertical-align: middle;
}

form#search h1 a {
    text-decoration: none;
    color: inherit;
}

form#search {
    text-align: center;
}

form#search input {
    font-size: 24px;
    vertical-align: middle;
}

form#search input[type=submit] {
    -webkit-appearance: button;
}

.packagename {
    font-weight: bold;
    font-size: 110%;
}

.packagedetails {
    font-size: 85%;
    color: #202020;
}

iframe {
    margin: 0.5em 0 0 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    border: 0;
}
