[flake8]
# E203 is ignored because we enforce ruff format which contradicts it
ignore = E203,E501,E704,E741,W503
per-file-ignores =
    plugin.py:E127,E128,E225,E231
    importexport.py:E127
    model.py:E128,E225,E231
    test_importexport.py:E121
    test*.py:E126,E127,E128,E225,E226,E231,E251
