[Unit]
Description=Devpi Server
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-success
ExecStart={devpibin} {server_args}
User={user}
SuccessExitStatus=SIGKILL

[Install]
WantedBy=multi-user.target
